<h1>IMAGE Editor</h1>

<!--{{model.widget}}-->
<label>url</label>
<input ng-model="model.widget.url" class="form-control"/>

<label>width</label>
<select class="form-control" data-ng-model="model.widget.width">

    <option>50%</option>
    <option>60%</option>
    <option>70%</option>
    <option>80%</option>
    <option>90%</option>
    <option>100%</option>
</select>

<a ng-click = "model.updateWidget(model.widget)" class="btn btn-primary btn-block btn-space">
    Update
</a>
<a ng-click="model.deleteWidget()" class="btn btn-danger btn-block btn-space">
    Delete
</a>