<h1>IMAGE Editor</h1>

<!--{{model.widget}}-->

<form action="/api/upload"   method="post" enctype="multipart/form-data">
    <label>Upload</label>
    <input  type="file" name="myFile"     class="form-control"/>
    <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
    <input  type="text" name="userId"    value="{{model.userId}}"   style = "display: none"/>
    <input  type="text" name="websiteId" value="{{model.websiteId}}"   style = "display: none"/>
    <input  type="text" name="pageId"    value="{{model.pageId}}"   style = "display: none"/>
    <input  type="text" name="widgetId"  value="{{model.widget._id}}"   style = "display: none"/>
    <button type="submit"    class="btn btn-block btn-primary btn-space">Upload Image</button>
</form>


<a ng-click="model.deleteWidget(model.widget)" class="btn btn-danger btn-block btn-space">
    Delete
</a>