<div class="container-fluid">
    <h1>Register</h1>
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>
    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
    <input ng-model="user.username"
           class="form-control"
           placeholder="username"/>
    <input ng-model="user.password"
           class="form-control"
           type="password" placeholder="password"/>
    <input ng-model="user.rpassword"
           class="form-control"
           type="password" placeholder="validate password"/>
    <a class="btn btn-primary btn-block" ng-click="model.register(user)">
        Register
    </a>
    <a class="btn btn-success btn-block" href="#/login">
        Cancel
    </a>
</div>
